.form {
  width: 500px;
  padding: 10px;
  .form-control {
    margin: 10px 0;
  }
  .submit-btn{
    float: right;
  }
}

.lovely-btn {
  &.btn {
    &.btn-primary {
      background-color: $primary;
      border-color: $primary;
      &:active {
        background-color: $primary-light;
        border-color: $primary-light;
      }
    }
  }
}

.tile {
  padding: 20px;
  margin: 20px 0;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 5px rgb(231, 231, 231);
  box-sizing: border-box;
  background-color: white;
}
