@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');
@import "~bootstrap/scss/bootstrap";
@import 'colors';
@import 'components';

body {
    background-color: $aqua;
}

img {
    height: 100%;
}

a {
    color: $primary;
    &:hover {
        color: $primary-light;
        text-decoration: none;
    }
}